.contact_div {
    width: 50em;
    justify-content: center;
    display: flex;
    border: 5px solid;
    border-color: white;
    margin-left: 40em;
}

.contactme_header {
    padding-top: 1em;
    color: white;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.contact_labels {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.submit_button {
    background-color: purple;
    border: none;
}